@import '../../styles/global_variables';

.location-graph-wrapper{
    height: 100%;
    display: flex;
    flex-direction: row;    
    box-sizing: border-box;

    &.fullscreen-mode {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99999;
        background-color: $color-white;
        padding: 40px;
        box-sizing: border-box;

        .location-graph-view {
            width: 100%;
            height: 100%;
        }
    }
}

.location-graph-view{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.graph-node{
    stroke: $neutral-light;
    stroke-width: 1px;
}

// prevents cursor from changing to text selection and 
// prevents text in nodes from being selected
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }