@import '../../styles/global_variables';

.location-graph-legend{
    position: absolute;
    bottom: 10px;
    left: 10px;
    @media screen and (max-device-width:767px) and (orientation:portrait) {
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        max-width: 170px;
    }
    .legend-wrapper{
        .legend-item{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 2px;
            gap: 15px;
            &.unselected{
                opacity: 0.5;
            }
            .dash-icon{
                width: 40px;
                height: 10px;
            }
        } 
    }
}