@import  '../../styles/global';

.peace-display{
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-height: 380px;

    @media screen and (max-device-width: 899px) {
       height: calc(100dvh - 230px)!important
    }
    .map-container{
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        display: flex;   
        background-color: $dark-blue;      
        .data-geojson{
            cursor: pointer;
        }
    }

    .world-map-legend {
        @media screen and (max-device-width: 767px) and (orientation: landscape) {
            display: none;
        }
    }
}

