@import  '../../styles/global';

.app-display{
    width: 100%;
    height: 100%;
    display: flex;
    .display-wrapper{
        margin: 0;
        width: 100%;
        max-width: 100%;
        display: flex;
    }
}